[project]
	description = Automatically exported from code.google.com/p/gitiles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mr. Feng (aka2006)
[access "refs/for/refs/*"]
	read = group user/Mr. Feng (aka2006)
	push = group user/Mr. Feng (aka2006)
	label-Code-Review = -2..+2 group user/Mr. Feng (aka2006)
	label-Verified = -1..+1 group user/Mr. Feng (aka2006)
	rebase = group user/Mr. Feng (aka2006)
	removeReviewer = group user/Mr. Feng (aka2006)
	submit = group user/Mr. Feng (aka2006)
[access "refs/heads/*"]
	read = group user/Mr. Feng (aka2006)
	create = group user/Mr. Feng (aka2006)
	push = +force group user/Mr. Feng (aka2006)
	pushMerge = group user/Mr. Feng (aka2006)
[access "refs/tags/*"]
	push = +force group user/Mr. Feng (aka2006)
	pushTag = group user/Mr. Feng (aka2006)
	pushSignedTag = group user/Mr. Feng (aka2006)
